<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layouts/general_layout.xhtml">
	<ui:define name="title">Consult about them</ui:define>
	<ui:define name="header-title">Consults</ui:define>

	<ui:define name="body">
		<h:form>
			<h:panelGrid columns="3">
				<p:outputLabel value="Person" />
				<p:selectOneMenu filter="true" filterMatchMode="contains"
					value="#{consultController.personID}">
					<f:selectItems value="#{consultController.people}" var="pe"
						itemValue="#{pe.id}" itemLabel="#{pe.firstname}, #{pe.lastname}" />
				</p:selectOneMenu>

				<p:commandButton value="Search" icon="pi pi-search"
					update="list-person"
					actionListener="#{consultController.searchPhoneAction()}" />

				<p:dataList id="list-person" emptyMessage="There are not results"
					value="#{consultController.phones}" var="ph">
					#{ph.number}
				</p:dataList>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>
