<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


<ui:composition template="/layouts/general_layout.xhtml">
	<ui:define name="title">Mention</ui:define>
	<ui:define name="header-title"></ui:define>

	<ui:define name="body">
		<h1>Mention an user</h1>
		<p:messages autoUpdate="true" showSummary="true" />

		<p:dataTable value="#{mentionMB.notes}" var="note" paginator="true"
			paginatorPosition="both"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
			rowsPerPageTemplate="5,10,{ShowAll|'All'}">
			<p:column headerText="User">
				<h:outputText
					value="#{note.owner.firstname}, #{note.owner.lastname}" />
			</p:column>

			<p:column headerText="Category">
				<h:outputText value="#{note.category.name}" />
			</p:column>

			<p:column headerText="Date">
				<h:outputText value="#{note.createdAt}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>

			<p:column>
				<h:form>
					<p:commandButton value="Value" iconPos="right"
						icon="pi pi-external-link" action="value"
						actionListener="#{mentionMB.assign(note)}" />
				</h:form>
			</p:column>
		</p:dataTable>
	</ui:define>
</ui:composition>
</html>

