<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layouts/general_layout.xhtml">
	<ui:define name="title">Appreciate Note</ui:define>
	<ui:define name="header-title">Appreciate Note</ui:define>

	<ui:define name="body">
		<h:form>
			<p:panelGrid columns="2">
			
				<p:outputLabel value="Header" />
				<p:outputLabel value="#{valueMB.note.header}" />

				<p:outputLabel value="Body" />
				<p:outputLabel value="#{valueMB.note.body}" />

				<p:outputLabel value="Comment" />
				<p:outputLabel value="#{valueMB.note.comment}" />

				<p:outputLabel value="Comment of Admin" />
				<p:inputTextarea value="#{valueMB.note.commentOfAdmin}" />

				<p:outputLabel value="Rating" />
				<p:rating value="#{valueMB.note.valorisation}" />

			</p:panelGrid>
			<p:commandButton value="Save value" action="mention"
				actionListener="#{valueMB.registerNote()}" />
		</h:form>
	</ui:define>
</ui:composition>
</html>
