<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layouts/general_layout.xhtml">
	<ui:define name="title">Create new note</ui:define>
	<ui:define name="header-title">Create new note</ui:define>

	<ui:define name="body">
		<h:form>
			<p:panel id="custom">
				<p:panelGrid columns="2">
					<p:outputLabel for="sloCategory" value="Category" />
					<p:selectOneMenu id="sloCategory" style="width: 10rem;">
						<f:selectItems value="#{noteController.categories}" var="ca"
							itemLabel="#{ca.name}" itemValue="#{ca.id}" />
					</p:selectOneMenu>

					<p:outputLabel for="txtHeader" value="Header" />
					<p:inputText id="txtHeader" />
				</p:panelGrid>
				<p:textEditor id="txtBody" secure="false" />

				<f:facet name="header">
					<i class="pi pi-ellipsis-v mr-2" />Create
				</f:facet>
				<f:facet name="actions">
					<p:commandButton icon="pi pi-save" value="Save" />
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
</html>
