<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layouts/general_layout.xhtml">
	<ui:define name="title">Register your phone</ui:define>
	<ui:define name="header-title">Register phone</ui:define>

	<ui:define name="body">
		<p:growl autoUpdate="true" />

		<h:form id="formPrincipal">
			<p:commandButton icon="pi pi-plus" value="New"
				onclick="PF('wdialog').show();"
				actionListener="#{phone.changeCommandLabel()}"
				update="form-dialog-phone" />

			<p:dataTable id="phoneTable" value="#{phone.phones}" var="ph"
				editable="true">
				<p:column headerText="Number" filterBy="#{ph.number}"
					filterMatchMode="contains">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{ph.number}" />
						</f:facet>

						<f:facet name="input">
							<p:inputMask mask="999999999" slotChar="" required="true"
								value="#{ph.number}" />
						</f:facet>
					</p:cellEditor>
				</p:column>
				<p:ajax event="rowEdit" listener="#{phone.saveChangesAction(ph)}"
					update="phoneTable" />
				<p:column headerText="Edit">
					<!-- 					<p:commandButton value="Edit phone number" 
										actionListener="#{phone.readPhoneAction(ph)}" 
										oncomplete="PF('wdialog').show();" update="dialog-phone" /> -->
					<p:rowEditor />
				</p:column>
			</p:dataTable>
		</h:form>
		<p:dialog id="dialog-phone" widgetVar="wdialog" showEffect="fade"
			modal="true" resizable="false" closeOnEscape="true">
			<h:form id="form-dialog-phone">
				<p:panelGrid columns="2">
					<p:outputLabel for="number-phone" value="Number phone" />

					<p:inputMask id="number-phone" mask="999999999" slotChar=""
						required="true" value="#{phone.phoneBean.number}" />

					<p:commandButton value="Save" icon="pi pi-check-circle"
						actionListener="#{phone.registerPhoneAction()}"
						update=":formPrincipal:phoneTable" onclick="PF('wdialog').hide();"
						rendered="#{phone.commandLabelAction == 'R'}" />

					<p:commandButton value="Save changes" icon="pi pi-check-circle"
						actionListener="#{phone.saveChangesAction()}"
						update=":formPrincipal:phoneTable" onclick="PF('wdialog').hide();"
						rendered="#{phone.commandLabelAction == 'M'}" />

					<p:commandButton value="Close" icon="pi pi-times" inmediate="true"
						onclick="PF('wdialog').hide();"
						styleClass="ui-button-outlined ui-button-secondary" />

				</p:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

</ui:composition>
</html>
