<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layouts/general_layout.xhtml">
	<ui:define name="title">Search Note</ui:define>
	<ui:define name="header-title">Search notes</ui:define>

	<ui:define name="body">
		<h:form>
			<p:panelGrid columns="5">
				<p:outputLabel for="calendar" value="Date" />
				<p:calendar id="calendar" locale="es" required="true"
					value="#{search.dateSearch}" />

				<p:outputLabel for="category" value="Category" />
				<p:selectOneMenu id="category" required="true"
					value="#{search.idCategory}">
					<f:selectItems value="#{search.categories}" var="cat"
						itemValue="#{cat.id}" itemLabel="#{cat.name}" />

					<f:selectItem itemLabel="Selected" itemValue="#{null}"
						noSelectionOption="true" />
				</p:selectOneMenu>

				<p:commandButton value="Search" icon="pi pi-search"
					update="grid-result" actionListener="#{search.searchAction()}" />

			</p:panelGrid>

			<p:dataGrid id="grid-result" value="#{search.notes}" var="note">
				<p:card>
					<f:facet name="title">
						<p:outputLabel value="#{note.category.name}" />
					</f:facet>
					<f:facet name="subtitle">
						<p:outputLabel value="#{note.header}" />
					</f:facet>
					<p:outputLabel value="#{note.body}" />
					<p:outputLabel value="#{note.comment}" />
					<p:outputLabel value="#{note.commentOfAdmin}" />
					<f:facet name="footer">
						<p:rating value="#{note.valorisation}" readonly="true" />
					</f:facet>
				</p:card>
			</p:dataGrid>
		</h:form>
	</ui:define>

</ui:composition>
</html>
