<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><ui:insert name="title" /></title>
	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/all.min-jsf.css" />
	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
	<f:event listener="#{templateController.isAuth()}" type="preRenderView" />
</h:head>

<h:body>
	<h:form>
		<p:menubar model="#{menuController.menuModel}">
			<f:facet name="options">
				<p:commandButton title="Logout"
					actionListener="#{menuController.logout()}"
					action="/index?faces-redirect=true"
					styleClass="ui-button-raised ui-button-secondary"
					icon="pi pi-sign-out" />
			</f:facet>
		</p:menubar>
	</h:form>
	<h1>
		<ui:insert name="header-title">
            Layout header title  
        </ui:insert>
	</h1>
	<div>
		<ui:insert name="body">
			<h5>Layout body</h5>
		</ui:insert>
	</div>
</h:body>

</html>