<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/layouts/guess_layout.xhtml">
	<ui:define name="title">Forbbiden</ui:define>
	<ui:define name="header-title">Upp! 😅😅</ui:define>
	<ui:define name="body">
		<h1>Forbbiden</h1>
		<h:form>
			<p:link value="Go to Principal" outcome="/index" />
		</h:form>
	</ui:define>
</ui:composition>
</html>
