<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layouts/general_layout.xhtml">
	<ui:define name="title">Result Information</ui:define>
	<ui:define name="header-title">Result Information</ui:define>

	<ui:define name="body">
		<div class="container shadow p-4 rounded-2 m-2">
			<h:form>
				<h1>Result Page Action</h1>
				<h:outputText value="#{personMB.person.firstname}" />
				<br />
				<h:outputText value="#{personMB.person.lastname}" />
				<br />
				<h:outputText value="#{personMB.person.phone}" />
				<br />
				<h:link outcome="home" value="Go to HOME" class="btn btn-success" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>